@font-face {
    font-family: 'ebgaramondmedium';
    src: url(/fonts/ebgaramondmedium.ttf) format('ttf');
    src: url(/fonts/ebgaramondmedium.woff) format('woff');
    src: url(/fonts/ebgaramondmedium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'ebgaramondregular';
    src: url(/fonts/ebgaramondregular.ttf) format('ttf');
    src: url(/fonts/ebgaramondregular.woff) format('woff');
    src: url(/fonts/ebgaramondregular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'interbold';
    src: url(/fonts/interbold.ttf) format('ttf');
    src: url(/fonts/interbold.woff) format('woff');
    src: url(/fonts/interbold.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'interregular';
    src: url(/fonts/interregular.ttf) format('ttf');
    src: url(/fonts/interregular.woff) format('woff');
    src: url(/fonts/interregular.woff2) format('woff2');
    font-weight: 400;
}